.horizontal,
.vertical {
  height: 0.75rem;
  width: 3rem;
  background: rgb(87, 87, 87);
  border-radius: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.vertical {
  rotate: 90deg;
  transform: translate(-12.5%, 200%);
}

.button {
  position: relative;
  background: none;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: transparent;
  padding: 0;
}

.button:hover {
  background: rgba(87, 87, 87, 0.7);
}

.button:hover .vertical,
.button:hover .horizontal {
  background: rgb(237, 237, 237);
}

.controller-container {
  position: relative;
  width: 33.3%;
}

@media (max-width: 48em) {
  .controller-container {
    width: 60%;
  }
}

@media (max-width: 32em) {
  .controller-container {
    width: 80%;
  }
}

.plus,
.minus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.minus {
  left: 0;
}

.plus {
  right: 0;
}
