.view-container {
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 64em) {
  .view-container {
    border-radius: 0;
    width: 100%;
  }
}

@media (max-width: 48em) {
  .view-container {
    padding: 0.75rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group__input-to-edit {
  border: 0.1rem solid transparent;
  background: transparent;
  font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5rem;
  color: rgb(87, 87, 87);
  outline: none;
}

@media (max-width: 64em) {
  .form-group__input-to-edit {
    font-size: 2rem;
  }
}

.form-group__calendar {
  width: 21rem;
  border-radius: 1rem;
  border: 0.1rem solid rgb(87, 87, 87);
  background: transparent;
  font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(87, 87, 87);
  outline: none;
}

.form-group__input-to-edit:focus {
  border-bottom: 0.1rem solid rgb(87, 87, 87);
}

.mid-text-gray {
  font-size: 2.5rem;
  color: rgb(87, 87, 87);
}
