.inactive-day {
  text-align: left;
  width: 15rem;
  rotate: 90deg;
  transform: translate(-25%, 0%);
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(87, 87, 87, 0.7);
  position: absolute;
  bottom: 0;
}

.inactive-day-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

@media (max-width: 48em) {
  .inactive-day {
    font-size: 0.85rem;
  }
}
