.add-new-month_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}

.header {
  font-size: 2rem;
  text-align: center;
}

.subheader {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 500;
}

.horizontal,
.vertical {
  height: 0.75rem;
  width: 3rem;
  background: rgb(87, 87, 87);
  border-radius: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.vertical {
  rotate: 90deg;
  transform: translate(-12.5%, 200%);
}

.button {
  position: relative;
  background: none;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: transparent;
  padding: 0;
}

.button:hover {
  background: rgba(87, 87, 87, 0.7);
}

.button:hover .vertical,
.button:hover .horizontal {
  background: rgb(237, 237, 237);
}
