.arrow {
  color: #4c4c4c;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.arrow span {
  opacity: 0;
  transition: opacity 0.3s 0s;
  padding: 0 0.5em;
}

.arrow:hover span {
  opacity: 1;
  transition: opacity 0.3s 0.1s;
}

.arrow:before {
  content: "";
  display: block;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  position: absolute;
  top: 0.5rem;
  width: 20px;
  height: 20px;
}

.arrow.arrow--left:before {
  transform: rotate(-135deg);
  right: 0;
  transition: right 0.3s 0.2s;
}

.arrow.arrow--left:hover:before {
  right: 70%;
  transition: right 0.3s;
}

.arrow.arrow--right span {
  display: block;
  text-align: left;
  margin-left: 0.5rem;
}

.arrow.arrow--left span {
  display: block;
  text-align: right;
  margin-right: 0.5rem;
}

.arrow.arrow--right:before {
  left: 0;
  transform: rotate(45deg);
  transition: left 0.3s 0.2s;
}

.arrow.arrow--right:hover:before {
  left: 70%;
  transition: left 0.3s;
}

.arrow:hover {
  transform: none;
}

.arrow span {
  font-size: 1.25rem;
}

.wrapper {
}
